<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802738632451-261esii2ab2l7tsitm81t1mnqihh76t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802738632451-261esii2ab2l7tsitm81t1mnqihh76t5</string>
	<key>API_KEY</key>
	<string>AIzaSyDUK1uMi2O0tM41fhm9LpdMohGza3WZMxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>802738632451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLearning</string>
	<key>PROJECT_ID</key>
	<string>fir-learning-571dd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learning-571dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802738632451:ios:850ee4fd4a24c9bf87db36</string>
</dict>
</plist>